.inputBlock {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.fibonacciBlock {
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  gap: 12px;
  justify-content: center;
  transition: all 1s ease-out;
}

.limitedWidth {
  width: 377px;
}
