.inputBlock {
  margin: 0 auto;
  max-width: 522px;
  display: flex;
  gap: 12px;
}

.reverseBlock {
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  gap: 12px;
  justify-content: center;
  transition: all 1s ease-out;
}
